<!DOCTYPE html>
<html>
  <%= render "layouts/partials/head" %>

  <body>
    <header>
      <%= render "layouts/partials/admin/navbar" %>
    </header>
    <%= render 'shared/messages' %>
    <%= yield %>
  </body>
</html>