<!DOCTYPE html>
<html>
  <%= render "layouts/partials/head" %>

  <body class="vh-100">
    <header>
      <%= render 'layouts/partials/navbar' %>
    </header>
    <main role="main">
      <%= yield %>
    </main>
  </body>
</html>
