<!DOCTYPE html>
<html>
  <%= render "layouts/partials/head" %>

  <body class="vh-100">
    <header>
      <%= render 'layouts/partials/navbar' %>
    </header>
    <main class="min-h-screen">
      <%= yield %>
    </main>
    <footer class="footer bg-dark mt-auto py-3">
      <%= render 'layouts/partials/footer' %>
    </footer>
  </body>
</html>
